<!-- Snuff-->
<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-wrap">
        <a href="/"
          ><svg class="header-logo">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <div class="header-content-wrap">
          <a class="header-sign-up" href="#"
            ><svg width="16" height="16" class="header-sign-up-icon">
              <use href="./img/icons.svg#icon-camera"></use>
            </svg>
          </a>
          <button type="button" class="header-burger-button">
            <div class="strip"></div>
            <div class="strip strip-center"></div>
            <div class="strip"></div>
          </button>
        </div>
      </div>
      <div>
        <a href="#" class="header-sign-up-link">Sign up</a>
      </div>
    </div>
  </div>

  <div class="backdrop-mobal" id="modal">
    <div class="modal-burger">
      <button type="button" class="button-burger" id="button-burger-close">
        <svg width="32" height="32">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="nav-burger">
        <li><a class="burger-item" href="">About us</a></li>
        <li><a class="burger-item" href="">Our courses</a></li>
        <li><a class="burger-item" href="">Our mentors</a></li>
        <li><a class="burger-item" href="">Reviews</a></li>
        <li><a class="burger-item" href="">contacts</a></li>
      </ul>
      <img
      class="camera-modal"
      src="../img/rectangle2.jpg" 
      alt="camera"
      width="329"
      height="218">
      </img>
    </div>
  </div>
  <script src="modal.js"></script>
</header>

